--- 
url_back: "http://localhost:1337" 
nom_boutique: "site de pigeon"
---


<!DOCTYPE html>
<html lang="en" class="sl-theme-dark" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/dark.css" />
    <title>{{nom_boutique}}</title>
</head>

<body>
    
    <sl-tab-group id="main_menu">
        <sl-tab slot="nav" panel="menu">Menu</sl-tab>
        <sl-tab slot="nav" panel="comm">Commandes</sl-tab>
        <sl-tab slot="nav" panel="cata">Catalogue</sl-tab>

        {% include "bandeau-looper.html"%}
        


    <sl-tab-panel name="menu">
        <header>
            {% include "mon-produit.html"%}
        </header>
    </sl-tab-panel>
    
    
    <sl-tab-panel name="comm">
        <div id="cmd_commande"></div>
        <div>
            {% include "form-commande.html"%}
        </div>
        
    </sl-tab-panel>

    <sl-tab-panel name="cata">
        {% include "catalogue.html"%}
    </sl-tab-panel>

</sl-tab-group>

<main>
    {% include "panier.html" %}
</main>

<footer>
{% include "btn-ouvrir-panier.html" %}
</footer>


<style>
    .produit {
        max-width: 300px;
    }
    
    .card-overview small {
        color: var(--sl-color-neutral-500);
    }
    
    .card-overview [slot='footer'] {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<script>
    
    let elems = {}
    document.querySelectorAll('[id]').forEach(e => elems[e.id] = e);
</script>    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/light.css" />
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/shoelace-autoloader.js"></script>


</body>
</html>