<sl-carousel id="carouMessage" autoplay loop style="--aspect-ratio:20/3" autoplay-interval="2000">
    <!-- <sl-carousel-item>
      <img
        alt="A waterfall in the middle of a forest (by Thomas Kelly on Unsplash)"
        src="https://images.ladepeche.fr/api/v1/images/view/620165b78fe56f2fce386747/large/image.jpg?v=1"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="The sun is setting over a lavender field (by Leonard Cotte on Unsplash)"
        src="https://barbierduweb.com/wp-content/uploads/fabien-roussel-moustache-movember-octobre-rose.jpg"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="A field of grass with the sun setting in the background (by Sapan Patel on Unsplash)"
        src="https://beymedias.brightspotcdn.com/dims4/default/6bd2233/2147483647/strip/true/crop/3920x2044+0+182/resize/840x438!/quality/90/?url=http%3A%2F%2Fl-opinion-brightspot.s3.amazonaws.com%2Fbc%2Ffc%2Ff6f144cf4df1a588a291c3ecfd6e%2Ffabien-roussel-sipa.jpg"
      />
    </sl-carousel-item>
    <sl-carousel-item>
      <img
        alt="A scenic view of a mountain with clouds rolling in (by V2osk on Unsplash)"
        src="https://beymedias.brightspotcdn.com/dims4/default/bb95929/2147483647/strip/false/crop/7200x4800+0+0/resize/1486x991!/quality/90/?url=http%3A%2F%2Fl-opinion-brightspot.s3.amazonaws.com%2F6a%2Fe5%2F2b5c09e74f208689a385e05b6690%2Ffabien-roussel-sipa.jpg"
      />
    </sl-carousel-item> -->
  </sl-carousel>

  <script>
    let messages
    fetch('{{ url_back }}/api/messages/')
        .then (response => response.json())
        .then (JsonData => {
            messages= JsonData.data 
            for(let message of messages){
                let item = document.createElement('sl-carousel-item')
                item.innerText = message.attributes.texte
                elems.carouMessage.appendChild(item)
            }
        })
    
  </script>