<form id="form_client">
    <sl-input label="nom" id="nom" required></sl-input>
    <sl-textarea label="adresse" id="adresse" required></sl-textarea>
    <sl-input label="numéro" id="num" required></sl-input>
    <sl-input label="email" id="email" type="email" required></sl-input>
    <sl-button type="submit">GO</sl-button>

</form>

</script>

<script type="module">
 import { serialize } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/utilities/form.js';
 elems.form_client.addEventListener('submit', event => {
     event.preventDefault();
     const client = serialize(elems.form_client);

     fetch('http://localhost:1337/api/clients', {
         method: 'POST',
         headers: {"Content-Type": "application/json"},
         body: JSON.stringify({data: client})
     })
 });
</script>