

<sl-card class="produit">
    <img
      slot="image"
      src="https://m.media-amazon.com/images/I/51twYjKg2mL._SL1000_.jpg"
      alt="A kitten sits patiently between a terracotta pot and decorative grasses."
    />
  
    <strong id="nomProd">nom produit</strong><br />


    <div slot="footer">
        <div id="prixProd">prixprod</div>
      <sl-button variant="primary" onclick="PANIER.ajouter(megaprod)" pill>Achat</sl-button>
    </div>
  </sl-card>


  <style>
    .produit {
      max-width: 300px;
    }
  
    .card-overview small {
      color: var(--sl-color-neutral-500);
    }
  
    .card-overview [slot='footer'] {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>



  <script>

    let megaprod
    fetch('{{url_back}}/api/produits/1')
    .then(response => response.json())
    .then(JsonData => {megaprod = JsonData.data
    console.log(megaprod)
    elems.nomProd.innerText = megaprod.attributes.Nom
    elems.prixProd.innerText = megaprod.attributes.Prix
    })

  </script>

  