<sl-drawer label="Le Panier" id="panier" 
 variant="primary" placement="end" class="panier">
 
 <div id="cmd_panier"></div>

    <sl-divider></sl-divider>
    <sl-button variants="success" onclick="elems.main_menu.show('comm'); elems.panier.hide()">GG WP</sl-button>
</sl-drawer>    


<script>
    const PANIER = {
        lignes: [],
        total: 0,
        ajouter(produit){
            // si produit c'est un objet produit ca marche
            // si c'est un id ca marche aussi.
            if(! produit.id){
                produit = CATALOGUE.get(produit)
            }
            if( this.lignes.filter(l => l.prod.id === produit.id).length ){
                this.lignes.filter(l => l.prod.id === produit.id)[0].qt++
            }else {
                this.lignes.push({prod: produit, qt: 1})
            }
            this.total = this.lignes.reduce((acc, l) => acc + (l.prod.attributes.Prix * l.qt), 0)
            elems.cmd_commande.innerHTML = ""
            elems.cmd_panier.innerHTML = ""
            elems.cmd_panier.appendChild(this.getHTML())
            elems.cmd_commande.appendChild(this.getHTML())
        },

        getHTML(){
            let div = document.createElement('div')
            let ul = document.createElement('ul')
            for(let ligne of this.lignes){
                if(ligne){
                    ul.innerHTML += `<li>${ligne.prod.attributes.Nom} x ${ligne.qt}</li>`
                }
            }
            div.appendChild(ul)
            div.innerHTML +=`
                <sl-divider></sl-divider>
                Total : $${this.total.toFixed(2)}
                `
            return div
        }
    }
</script>