<sl-tab-group>
    <sl-tab slot="nav" panel="menu">Menu</sl-tab>
    <sl-tab slot="nav" panel="param">Paramètres</sl-tab>
    <sl-tab slot="nav" panel="comm">Commandes</sl-tab>
    <sl-tab slot="nav" panel="JW">John wick 5 ???</sl-tab>
  
   
    <sl-tab-panel name="param">choisissez vos paramètres.</sl-tab-panel>
    <sl-tab-panel name="comm">voici vos commandes.</sl-tab-panel>
    <sl-tab-panel name="JW">John Wick 5 VOST.</sl-tab-panel>
  </sl-tab-group>
